@media (min-width: 1000px) {
    #videoList{
        width: 50%;
    }
}

@media (min-width: 600px) and (max-width:1000px) {
    #videoList{
        width: 500px;
    }
}
@media (max-width: 600px) {
    #videoList{
        width: 250px;
    }
}
body {
    display : flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
kbd > kbd {
    font-family:Arial,Helvetica,sans-serif;
    border: lightgrey 1px solid;
    padding: 2px 6px;
    box-shadow: 1px 1px black;
    border-radius: 5px;
    font-variant: small-caps;
    background-color:#f7f7f7;
}

#videoList{
    flex : 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videoBlock {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.videoTitle {
    flex: 0 0 auto;
    text-align: center;
    font-size: 1.3em;
}
.videoTitle a {
    color: black;
    text-decoration: none;
}

.quoteList {
    cursor: pointer;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote {
    margin-bottom: 5px;
    font-size: 1.1em;
    flex: 0 0 auto;
}